---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import fitz from "assets/fitz.jpg";
import royalCity from "assets/royalCity.jpg";
import acoustic from "assets/acoustic.jpg";
import Link from "@components/ui/link.astro";
import GoogleAnalytics from "@components/googleAnalytics";

// Filter team entries with 'draft: false' & date before current date
const showcaseImages = [
  {
    avatar: {
      src: acoustic,
      alt: "A picture of someone playing a guitar",
    },
    name: "Semi-acoustic Music",
    title: "Genre",
  },
  {
    avatar: {
      src: royalCity,
      alt: "A picture of the exterior of Royal City Brewing Co.",
    },
    name: "Royal City Brewing Co.",
    title: "Venue",
  },
  {
    avatar: {
      src: fitz,
      alt: "A picture of Alex Fitz Filazzola performing",
    },
    name: "Alex 'Fitz' Filazzola",
    title: "Host",
  },
];
---

<style>
  @import "../global.css";
</style>
<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Guelph Open Mic presented by Fitz</Fragment>
    </Sectionhead>
    <head>
      <GoogleAnalytics client:load />
    </head>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        What style is this open mic?
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        The Guelph Open Mic is an event for musicians of all skill levels to
        come together and share their music with the community. All genres and
        styles of music are welcome and everyone is encouraged to come out and
        support local talent. It's free, fun, and a great way to meet people.
        <br />
        <br />
        There are 15-minute time slots allocated to each person or roughly 3-4 songs.
        You can play as a solo act or with a group. There will be microphones and
        a PA system, but the music is meant to be semi-acoustic. This means focusing
        on smaller setups to create a relaxed vibe without large bands or drums,
        and avoiding bass and distortion. We are looking to add ambience to the Beer
        Hall and not overpower the space.
        <br />
        <br />
        The first event will be Sunday May 26th from 6-9 pm at <a
          href="https://royalcitybrew.ca/">Royal City Brewing Co.</a
        > If successful, this might become a monthly occurrence throughout the summer
        where folks can come and play.
      </p>
      <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
        {
          showcaseImages.map((image) => (
            <div class="group">
              <div class="w-full aspect-square">
                <Picture
                  src={image.avatar.src}
                  alt={image.avatar.alt}
                  sizes="(max-width: 800px) 100vw, 400px"
                  width={400}
                  height={400}
                  class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
                />
              </div>

              <div class="mt-4 text-center">
                <h2 class="text-lg text-gray-800">{image.name}</h2>
                <h3 class="text-sm text-slate-500">{image.title}</h3>
              </div>
            </div>
          ))
        }
      </div>

      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
        <h2 class="font-bold text-3xl text-gray-800">Who is Fitz?</h2>
        <p class="text-lg leading-relaxed text-slate-500">
          Alex "Fitz" Filazzola is a local musician and music enthusiast who has
          been playing music for over 20 years. Guitar is his main instrument of
          choice and he has played in bands, as a solo act, and very recently
          joined the Guelph music scene. He has a passion for music and wants to
          create a space where musicians can come together and share their music
          with the community. He is excited to be hosting the Guelph Open Mic
          and is looking forward to hearing all the amazing talent that Guelph
          has to offer. <br />
        </p>
      </div>
      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
        <h2 class="font-bold text-3xl text-gray-800">Want to perform?</h2>
        <p class="text-lg leading-relaxed text-slate-500">
          Time slots selection require signup. If you're eager to perform,
          select one of the remaining available timeslots. Follow the button
          below. <br />
        </p>
      </div>
      <Link
        size="lg"
        style="outline"
        href="/signup"
        class="flex gap-1 items-center justify-center max-w-xs mx-auto"
      >
        Sign-up
      </Link>
    </div>
  </Container>
</Layout>
