---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Discover",
    description:
      "Experience the raw energy of new voices and unique sounds. Our open mic nights showcase a rotating lineup of grassroots performers from your community.",
    icon: "noto-v1:magnifying-glass-tilted-left",
  },
  {
    title: "Perform",
    description:
      "Don’t have a booking agent or label? No problem. Amplify gives independent musicians access to real venues and real audiences—just bring your songs and your courage.",
    icon: "twemoji:musical-notes",
  },
  {
    title: "Connect",
    description:
      "Whether you're on stage or in the crowd, Amplify is a space to build community, collaborate with others, and share your love of live music.",
    icon: "fluent:people-community-28-filled",
  },
];
---

<style>
  @import "../global.css";
</style>
<div class="mt-4 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mb-8 md:mb-0">
    Amplify your sound. Join the community.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Looking to perform at a local show? Check out our <a href="/next-shows"
      >next shows</a
    > to see what's coming up. If nothing's happening near you, you can <a
      href="/contact">get in touch</a
    > to subscribe for updates or request a show in your area.
    <br /><br />
    When you're ready to take the stage, <a href="/signup">claim your slot</a> and
    join the lineup.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
