---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Discover",
    description:
      "Experience the raw energy of new voices and unique sounds. Our open mic nights showcase a rotating lineup of grassroots performers from your community.",
    icon: "noto-v1:magnifying-glass-tilted-left",
  },
  {
    title: "Perform",
    description:
      "Don’t have a booking agent or label? No problem. Amplify gives independent musicians access to real venues and real audiences—just bring your songs and your courage.",
    icon: "twemoji:musical-notes",
  },
  {
    title: "Connect",
    description:
      "Whether you're on stage or in the crowd, Amplify is a space to build community, collaborate with others, and share your love of live music.",
    icon: "fluent:people-community-28-filled",
  },
];
---

<style>
  @import "../global.css";
</style>
<div class="mt-4 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mb-8 md:mb-0">
    Amplify your sound. Join the community.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    The next Open Mic Night runs from 6–9 pm on Sunday July 21st at <a
      href="https://royalcitybrew.ca/"
      target="_blank"
    >
      Royal City Brewing Co.</a
    > We're also popping up soon at Peter G’s in Toronto and La Poche in Guelph.
    <br /><br />
    Musicians of all styles and skill levels are welcome. Each performer gets 15
    minutes to share their sound. Sign-up is first come, first serve—<a
      href="/signup">claim your slot here</a
    >.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
