---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Discover",
    description:
      "Come listen to a diverse array of performances at our open mic nights. You never know what hidden talent you might discover!",
    icon: "noto-v1:magnifying-glass-tilted-left",
  },
  {
    title: "Perform",
    description:
      "Take the stage and share your talent with our supportive audience. Whether you're a solo act or part of a group, there's room for you to shine.",
    icon: "twemoji:musical-notes",
  },
  {
    title: "Connect",
    description:
      "Be a part of our community and make new friends. Share your love of music and performance with others who feel the same way.",
    icon: "fluent:people-community-28-filled",
  },
];
---

<style>
  @import "../global.css";
</style>
<div class="mt-4 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mb-8 md:mb-0">
    Join our local community of musicians
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Open Mic Night presented by Fitz is planned for 6-9 pm on Sunday May 26th at <a
      href="https://royalcitybrew.ca/"
      target="_blank"
    >
      Royal City Brewing Co.</a
    > We invite any musician, regardless of skill level, to play a semi-acoustic
    set for 15 minutes. Sign-up is first come, first serve and can be done <a
      href="/signup">online</a
    > prior to the event. We hope to see you there!
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
